* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    border-bottom: 1px solid #E1E1E1;
    background: rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #E1E1E1;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.09);
}

.settings {
    display: flex;
    gap: 16px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.conteiner {
    display: flex;
    margin-top: 60px;
    margin-left: 152px;
}

.subConteiner1 {
    width: 660px;
    height: 600px;
}

.viewer {
    display: flex;
    align-items: center;
}

.arrow {
    height: 32px;
    width: 16px;
    color: none;
}

.viewerImg {
    width: 660px;
    height: 440px;
}

.navBar {
    display: flex;
    align-items: center;
    width: 685px;
    gap: 5px;
    margin-top: 20px;
}

.bars {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}

.imgBar {
    width: 100px;
    height: 58px;
}

.edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    height: 38px;
    margin-left: 100px;
}

.top {
    width: 534px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 0px 33px -6px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    text-align: center;
    grid-column: 1 / span 2;
}

.scale {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.symbols {
    display: flex;
    gap: 2px;
}

.scale input {
    width: 220px;
    height: 2px;
}